.special-coin {
    position: relative;
    &__back-button {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__loader {
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
    }

    &__chart-wrapper {
        margin-bottom: 20px;
    }
    &__chart-date-range {
        margin-bottom: 15px;
    }

    &__title-wrapper {
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__title-text {
        text-align: center;
        font-size: 2rem;
    }

    &__title-image {
        max-width: 100%;
        width: 100px;
    }

    &__content {
        max-width: 1199px;
        margin: 0 auto;
    }
}
